<app-navbar [change]="value"></app-navbar>
<div class="container p-5 my-5 bg-danger rounded">
    <div class="row">
        <div class="col-sm-8">
            <div class="row justify-content-center pb-2">
                <button style="width: auto" (click)="logOut()">Log Out</button>
            </div>
            <div class="row bg-light rounded p-3">
                <h2>{{account.username}}</h2>
                <h2>{{account.password}}</h2>
                <h2>{{account.email}}</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <ul style="list-style-type: none;">
                <li *ngFor="let schedule of account.schedules">
                    <button style="border-radius: 5px;" (click)="editSchedule(schedule.id)">{{schedule.name}}</button>
                </li>
            </ul>
        </div>
    </div>
</div>