<app-navbar></app-navbar>
<h1>Scheduler</h1>
<mat-button-toggle-group (change)="yearChange($event)">
    <mat-button-toggle value="1">Year 1</mat-button-toggle>
    <mat-button-toggle value="2">Year 2</mat-button-toggle>
    <mat-button-toggle value="3">Year 3</mat-button-toggle>
    <mat-button-toggle value="4">Year 4</mat-button-toggle>
    <mat-button-toggle value="5">Year 5</mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group (change)="semesterChange($event)">
    <mat-button-toggle value="Winter">Winter</mat-button-toggle>
    <mat-button-toggle value="Spring">Spring</mat-button-toggle>
    <mat-button-toggle value="Summer">Summer</mat-button-toggle>
    <mat-button-toggle value="Fall">Fall</mat-button-toggle>
</mat-button-toggle-group>
<ul>
    <li *ngFor="let c of courses">
        {{c.Subject}} {{c.Course_Number}}
        <button (click)="delete(c.Id)">X</button>
    </li>
</ul>
<ul>
    <li *ngFor="let c of globalCourses">
        <button (click)="addClass(c.Id)">{{c.Subject}} {{c.Course_Number}}</button>
    </li>
</ul>