<app-navbar></app-navbar>
<body>
    <h1>Scheduler</h1>
    <!-- Display all of the courses you can add -->
     <input type="text" [(ngModel)]="scheduleName">
    <div class="allCourses">
        <h3>Courses</h3>
        <button (click)="openFilter()">Filter</button>
        <ul>
            <li *ngFor="let c of addCourses">
                <button (click)="addClass(c.id)">{{c.subject}} {{c.course_Number}}</button>
            </li>
        </ul>
        @if (scheduleId > 0) {
            <button (click)="save()">Save</button>
        } @else {
            <button (click)="create()">Create</button>
        }
    </div>
    <!-- Buttons to change the year/semester of added courses -->
    <div class="changeButtons">
        <mat-button-toggle-group (change)="yearChange($event)">
            <mat-button-toggle value="1">Year 1</mat-button-toggle>
            <mat-button-toggle value="2">Year 2</mat-button-toggle>
            <mat-button-toggle value="3">Year 3</mat-button-toggle>
            <mat-button-toggle value="4">Year 4</mat-button-toggle>
            <mat-button-toggle value="5">Year 5</mat-button-toggle>
            <mat-button-toggle value="All">All years</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <mat-button-toggle-group (change)="semesterChange($event)">
            <mat-button-toggle value="Winter">Winter</mat-button-toggle>
            <mat-button-toggle value="Spring">Spring</mat-button-toggle>
            <mat-button-toggle value="Summer">Summer</mat-button-toggle>
            <mat-button-toggle value="Fall">Fall</mat-button-toggle>
            <mat-button-toggle value="All">All Semesters</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!-- Displays all of the currently added courses -->
    <div class="selectedCourses">
        <ul>
            <li *ngFor="let c of displayedCourses">
                {{c.subject}} {{c.course_Number}}
                <button (click)="delete(c.id)">X</button>
            </li>
        </ul>
    </div>
    <div class="majors">
        <!-- Dropdown for selecting majors -->
         <p>{{majorName}}</p>
         <mat-select>
                <mat-option *ngFor="let major of majors" (click)="selectMajor(major)">{{major.name}}</mat-option>
         </mat-select>
    </div>
    <div class="sections">
         <ul>
            <li *ngFor="let s of displayedSections">
                <button (click)="displayCourses(s.courses, s.name)">{{s.name}}</button> <!-- Progress bar with min/max displayed on top -->
                <mat-progress-bar mode="determinate" [value]="(s.credit_Current / s.credit_Min) * 100.0"></mat-progress-bar>
            </li>
         </ul>
    </div>
</body>
