<div class="container bg-danger">
<div class="col p-5">
<form [formGroup]="fullForm" (ngSubmit)="create()">
    <div class="row">
        <div class="col-sm-10">
            <h1>Create Account</h1>
        </div>
        <div class="col-sm-2 d-flex flex-row-reverse p-0">
            <button (click)="close()" style="border-radius: 5px;">X</button>
        </div>
    </div>
    <div class="row">
        <label for="email">Email</label>
        <input id="email" type="text" matInput formControlName="Email">
    </div>
    
    <div class="row">
        <label for="username">Username</label>
        <input id="username" type="text" matInput formControlName="Username">
    </div>
    
    <div class="row">
        <p>Passwords must be at least 8 characters long, and can contain any letters A-Z or numbers 0-9, or special characters ! $ # %.</p>
    </div>
    
    <div class="row">
        <label for="password">Password</label>
        <input id="password" type="text" matInput formControlName="Password">
        <p>{{ErrorText}}</p>
    </div>

    <div class="row">
        <label for="confirm">Confirm Password</label>
        <input id="confirm" type="text" matInput formControlName="Confirm">
    </div>
    
    <div class="row pt-4 d-flex justify-content-center">
        <button style="border-radius: 5px; width: 50%;" type="submit">Create Account</button>
    </div>
</form>
</div>
</div>

